@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Qwigley&display=swap');

html {
    scroll-behavior: smooth;
  }

  
  .sectionheading {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 70px;
    color:#918e8e;
}

.sectionheading h3 {
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 30px;
}

@media only screen and (max-width: 600px) {
  .sectionheading h3 {
    font-size: 30px;
  }
}

hr {
    width: 200px;
    margin-top: 0;
    color: #918e8e;
    height: 3px;
    padding-bottom: 10px;
}


/*....................Header..................*/

.headingname h3 {
    font-family: "Qwigley", sans-serif;
    font-size: 50px;
    color: #777777;
    font-weight: 100;
    margin-right: 7px;
    margin-left: 15px;
    margin-top: 7px;
}


  .menuitem {
    list-style: none;
    font-family: "Exo", sans-serif;
    display: inline-block;
    padding: 20px;
    height: 70px;
} 

.menuitem a h4 {
    color:#777777;
    font-size: 23px;
}

@media only screen and (max-width: 600px) {
    .menuitem a h4 {
      font-size: 20px;
      margin-bottom: 0;
    }
  }
  
  .imagetitle {
      font-family: "Exo", sans-serif;
      font-size: 50px;
      color:#918e8e;
      text-shadow: 2px 2px 4px #000000;
      text-align: center;
      padding-top: 400px;
      padding-bottom: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%)
  }
  
  @media only screen and (max-width: 600px) {
    .imagetitle {
      font-size: 40px;
    }
  }
  
  .frontimage {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
  }
  
  .background {
      padding: 0px;
  }
  

.header{
    position: relative;
    text-align: center;
    margin-top: 75px;
}

.headnavbar {
    width: 100%;
    padding: 0px;
}

.dropdown{
    margin-right: 15px;
}

.navbar {
    height: 75px;
}

.headnavbar .dropdown {
    background-color:#918e8e;
}

#navbarNavDropdown {
    background-color:#fafafa;
}



/*....................About Me..................*/
#aboutme {
    background-color: #f1f1f1;
}

.aboutmeimage {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 300px;
    border: 3px #918e8e solid;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .aboutmeimage {
    margin-top: 20px;
    height: 200px;
    width: 200px;
  }
}

.abouttext {
   font-family: "Exo", sans-serif; 
   text-align: center;
   padding-bottom: 50px;
   padding-top: 30px;
}

@media only screen and (max-width: 950px) {
  .abouttext {
    padding: 40px;
  }
}

.abouttext p i {
    font-size: 30px;
    padding-left: 10px;
    color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.abouttext p i:hover {
    color: #484949;
}
/*....................Skills..................*/
#myskills {
    background-color: #ddd4d4;
}

.skills {
    text-align: center;
}

.skills h4 {
    font-family: "Exo", sans-serif;
    text-align: center;
    color:#918e8e;
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .skills h4 {
    font-size: 20px;
  }
}

.skillset {
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
    color:#918e8e;
}

@media only screen and (max-width: 600px) {
  .skillset {
    font-size: 30px;
  }
}

.grow:hover
{   -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: #000000;
}

.skills i {
    font-size: 50px;
    padding-bottom: 20px;
    color:#000000;
}

@media only screen and (max-width: 600px) {
  .skills i {
    font-size: 40px;
  }
}

/*....................Interests..................*/
#interests {
    background-color: #f1f1f1;
}

.interestsvids {
    padding-bottom: 40px;
    width: fit-content;
    margin:0 auto;
    text-align: -webkit-center;
}

@media only screen and (max-width: 900px) {
    .interestsvids {
      display: block;
      text-align: center;
    }
  }

  .interestsvids iframe {
      margin-left: 40px;
      margin-right: 40px;
      width: 330px;
      height: 190px;
}

@media only screen and (max-width: 414px) {
    .interestsvids iframe {
      margin-left: 10px;
      margin-right: 10px;
      max-width: 100%;
      height: auto;
    }
  }

  .secondvid {
      margin-top: 40px;
  }


/*....................Contact..................*/

#contact {
    background-color: #ddd4d4;
    padding-bottom: 0px;
}

.contactinfo i {
    font-size: 25px;
}

.contactinfo p {
    text-align: center;
    line-height: 5px;
    font-family: "Exo", sans-serif;
    font-size: 18px;
    padding-top: 5px;
}

@media only screen and (max-width: 600px) {
  .contactinfo p  {
    font-size: 15px;
    line-height: 10px;
  }
}

.contactinfo {
    margin-bottom: 20px;
}

.contactform {
    padding: 20px 100px 20px 100px;
}

@media only screen and (max-width: 600px) {
  .contactform  {
    padding: 20px 30px 20px 30px;
  }
}

@media only screen and (min-width: 900px) {
  .contactform  {
    padding: 20px 60px 20px 60px;
  }
}

::placeholder {
    color:#918e8e;
}

.btn {
    font-family: "Exo", sans-serif;
    border-radius: 12px;
    color:#fafafa;
    background-color: #8f8f8f;
    border: #777777 ;
}

.form-text {
  padding-left: 2.75rem;
  font-size: 1.25rem;
  font-weight: 600;
}
.message-form {
  display: block;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}
#send-button-group {
  text-align: center;
  margin-bottom: 2rem;
}
#send-button-group > button {
  margin: 0 1rem 0 1rem;
}
.message-form > select,
input,
textarea {
  margin-bottom: 0.9375rem;
}

/*....................footer..................*/

#footer {
    background-color: #9e9898;
    padding: 20px;
    min-height: 100px;
}

.social-links {
    font-size: 20px;
}

#footer h2,h4 {
    font-family: "Exo", sans-serif;
    font-size: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #9e9898;
}
