@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Qwigley&display=swap');

html {
    scroll-behavior: smooth;
  }


/*....................Header..................*/

  .menuitem {
    list-style: none;
    font-family: "Exo", sans-serif;
    display: inline-block;
    padding: 20px;
    height: 70px;
} 

.menuitem a h4 {
    color:#777777;
    font-size: 23px;
}


.header{
    position: relative;
    text-align: center;
    margin-top: 75px;
}

.headnavbar {
    width: 100%;
    padding: 0px;
}

.dropdown{
    margin-right: 15px;
}

.navbar {
    height: 75px;
}

.headnavbar .dropdown {
    background-color:#918e8e;
}

#navbarNavDropdown {
    background-color:#fafafa;
}

/*....................About Me..................*/

/*....................Skills..................*/

/*....................Interests..................*/

/*....................Contact..................*/





/*....................footer..................*/

#footer {
    background-color: #dac2c2;
    padding: 20px;
    min-height: 100px;
}

.social-links {
    font-size: 20px;
}

#footer h2,h4 {
    font-family: "Exo", sans-serif;
    font-size: 20px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #dac2c2;
}

